{% extends "./index.html" %}
{% block terms %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">
.bs-example{
	margin: 20px;
}
</style>

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
    $("td[colspan=3]").find("p").hide();
    $("table").click(function(event) {
        event.stopPropagation();
        var $target = $(event.target);
        if ( $target.closest("td").attr("colspan") > 1 ) {
            $target.slideUp();
            $target.closest("tr").prev().find("td:first").html("+");
        } else {
            $target.closest("tr").next().find("p").slideToggle();
            if ($target.closest("tr").find("td:first").html() == "+")
                $target.closest("tr").find("td:first").html("-");
            else
                $target.closest("tr").find("td:first").html("+");                
        }                    
    });
});
	</script>

</head>

<body>

<hr>
<br />
<br />
<br />
<div class="span12 alpha">
	<div class="span8 center vspace-small">
		<div class="span10 center">
			<div class="span12 well">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#Researchers" data-toggle="tab">Researchers</a>
					</li>
					<li>
						<a href="#Grants" data-toggle="tab">Grants</a>
					</li>
				</ul>
				<div id="explorerTabContent" class="tab-content">

					<div class="tab-pane fade active in" id="Researchers">
						<div class="container">            
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>Name</th>
										<th>Institution</th>
										<th>Department</th>
										<th>Cosine Score</th>
										<th>Link to Profile</th>
									</tr>
								</thead>
								{% for profile in profiles %}
								<tbody>
									<tr>
										<td>{{profile.Fname}} {{ profile.Lname}}</td>
										<td>{{profile.institution}}</td>
										<td>{{profile.department}}</td>
										{% for key, value in agvResults.items %}
										<td>{% if key == profile.id %}{{value}}{% endif %}</td>
										{% endfor %}
										<td><form action="/userprofile/" method="get">
											{% csrf_token %}
											{{ form }}
											<input type="hidden" name="investigator_tag" value="{{profile.investigator_tag}}">
											<input type="submit" class="btn btn-primary btn-sm" value="Visit Profile" name="btn"/>
										</form></td>
										{% endfor %}
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>




					<div class="tab-pane fade" id="Grants">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th></th>
										<th>Grant Title</th>
										<th>Cosine Score</th>
									</tr>
								</thead>
								{% for Grant in Grants %}
								<tbody>
									<tr><td>+</td><td><p>{{Grant.grantTitle}}</p></td></tr>
								    <tr><td colspan="3">
					    				<p><b>Summary</b> : {{Grant.grantText}}</p>
										<p><b>Source</b> : {{Grant.grantLink|urlize}}</p>
								    </td></tr>
							    </tbody>
							    {% endfor %}
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}
</html>  


