{% extends "./index.html" %}
<!--This block is shown after an LSI search is performed-->
{% block terms %}
<h2>Results:</h2>


<h3>Researchers:</h3><!--Temporary, for testing only-->

    <p>{% for Author in Authors %}
    	<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_{{ forloop.counter }}" href="#collapseOne_{{ forloop.counter }}">{{Author.item}} <br> {% for key,value in agvResults.items %}  {%if key == Author.id %} Cosine Score: {{value}} {% endif %}{% endfor %}</a>
                </h4>
            </div>
            <div id="collapseOne_{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>  
    {% endfor %}</p>

<h3>Available Grant Information:</h3>

    <p>{% for Grant in Grants %}
    	<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_{{ forloop.counter }}" href="#collapseTwo_{{ forloop.counter }}">>{{Grant.grantTitle}} <br> {% for key,value in agvResults.items %}  {%if key == Grant.id %} Cosine Score: {{value}} {% endif %}{% endfor %}</a>
                </h4>
            </div>
            <div id="collapseTwo_{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>  
{% endfor %}</p>

<h3>Available Researcher Information:</h3>
{% for profile in profiles %}
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_{{ forloop.counter }}" href="#collapseThree_{{ forloop.counter }}">{{profile.Fname}} {{profile.Lname}}</a>
                </h4>
            </div>
            <div id="collapsetThree_{{ forloop.counter }}" class="panel-collapse">
                <div class="panel-body">
                	<p>{% load static %}<img src ="{% static 'profilePictures/' %}{{profile.investigator_tag}}.jpg" alt="Profile Picture"></p> <!-- Loads the researcher pictures from /HIVE/searchFunction/static/searchFunction/-->
                    <p>Location : {{profile.city}}, {{profile.state}}, {{profile.country}}</a></p>
                    <p>Office : {{profile.office}}</a></p>
                    <p>Institution : {{profile.institution}}</a></p>
                    <p>Phone : {{profile.phone}}</a></p>
                    <p>Department : {{profile.department}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>  
{% endfor %}
{% endblock %}