<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Researcher Profiles</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>
</head>
<body>
<h3>Researchers in the HIVE Network:</h3>
{% block profile %}
{% for profile in profiles %}
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_{{ forloop.counter }}" href="#collapseOne_{{ forloop.counter }}">{{profile.Fname}} {{profile.Lname}} </a>
                </h4>
            </div>
            <div id="collapseOne_{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Location : {{profile.city}}, {{profile.state}}, {{profile.country}}</a></p>
                    <p>Office : {{profile.office}}</a></p>
                    <p>Institution : {{profile.institution}}</a></p>
                    <p>Phone : {{profile.phone}}</a></p>
                    <p>Department : {{profile.department}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>                                                               

  {% endfor %}
{% endblock %}

