<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
    		$.noConflict();
    		var table = $('table.display').DataTable( {
    			"responsive": true,
    			"ordering":  true,
    			"searching":   false,
    			"paging":   false,
    			"order": [[ 1, "desc" ]],
    			"aaSorting": [[1, 'desc']]
    			} );
		} ); 
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Researcher Profiles</title>

	<style type="text/css">
	.bs-example{
		margin: 20px;
	}
	body{

	}
</style>

</head>

<body>


	<!-- Navbar (sit on top) -->
	<div id="navbar" class="w3-top">
		<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
			<a href="/" class="w3-bar-item w3-button">HIVE</a>
			<!-- Right-sided navbar links. Hide them on small screens-->        
			<div class="w3-right w3-hide-small">
				<a href="#about" class="w3-bar-item w3-button" data-toggle="modal" data-target="#aboutModal">ABOUT</a>
				<a href="#contact" class="w3-bar-item w3-button" data-toggle="modal" data-target="#helpModal">HELP</a>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<!-- Begin Modals -->

	<!-- Modal that provides information about HIVE -->
	<div class="modal fade" id="aboutModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">HIVE</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						<div class="media">
							<p class="lead">
								HIVE provides principal investigators with the tools they need to find suitable collaborators and funding relevant to their
								research.
							</p>
							<p>
								<em>
									We accomplish this through clever application of new and traditional information retrieval methods: A basic keyword search
									and conceptual search via LSI.<br>
									Typical keyword searches are provided to give you "directly associated" results relative to your queries.
									However, through conceptual search we provide you with the ability to find previously invisible implied associations.
								</em>
							</p>

							<h3>Who's Behind This?</h3>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" data-src="res/images/um.png">
								</a>
								<div class="media-body">
									<h5 class="media-heading"><em>The Bioinformatics Dept @ The University of Memphis</em></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal that provides help information for the current page -->
	<div class="modal fade" id="helpModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">HIVE</h4>
				</div>
				<div class="modal-body">
					<h3>Information</h3>
					<p>The information provided on each researcher is divided into 4 tabs:</p>
					<ul>
						<li>Profile : Basic infomation on the researcher, such as their institution, top research interests, phone number and department.  </li>
						<li>Publications : A regularly updated list of the researcher's publications. Cliocking on the title on a publication reveals the abstract and other information about that particular paper.  </li>
						<li>Researcher Suggestions : LSI-powered researcher collaboration recommendations based upon the publication history of all researchers in the system. </li>
						<li>Grant Suggestions : LSI-powered grant recommendation system based upon the researcher's publication history and the text of all currently available grants from the NIH. </li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal that provides help information for the current page -->
	<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="helpModalLabel">Help</h3>
		</div>

		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
	
	<!-- Tabs Start Here -->
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
		<li><a data-toggle="tab" href="#menu1">Publications</a></li>
		<li><a data-toggle="tab" href="#menu2">Similar Researchers</a></li>
		<li><a data-toggle="tab" href="#menu3">Similar Grants</a></li>
		<li><a data-toggle="tab" href="#menu4">Similar Clinical Trials</a></li>
	</ul>

	<div class="tab-content">

		<div id="home" class="tab-pane fade in active">
			{% for profile in profiles %}
			<p>{% load static %}<img style="height: 150px; width 150px;" src ="{% static 'profilePictures/avatar.jpg' %}" alt="No picture available"></p> <!-- Loads the researcher pictures from /HIVE/searchFunction/static/profilePictures/-->
			<p><h3><b>{{profile.fName}} {{ profile.lName}}</b></h3></p>
			<p><b>Location :</b> {{profile.city}}, {{profile.state}}</a></p>
			<p><b>Email :</b> {{profile.email}}</a></p>
			{% endfor %}
			<hr>
			<embed type="image/svg+xml" src="../static/mesh_chart.svg" width="600"/>
			<hr>
			<embed type="image/svg+xml" src="../static/author_chart.svg" width="600"/>
			<hr>
			<embed type="image/svg+xml" src="../static/pubHistory_chart.svg" width="600"/>
		</div>



		<div id="menu1" class="tab-pane fade">
			<table id="" class="display compact">
				<thead>
					<tr>
						<th>Title</th>
						<th>Authors</th>
						<th>Source</th>
						<th>Publication Date</th>
						<th>MeSH Headings</th>
					</tr>
				</thead>
				<tbody>
					{% for publication in publications %}
					<tr>
						<td>{{publication.title}}</td>
						<td>{{publication.authors| cut:"[" |cut:"]"|cut:"'"| cut:"\""}}</td>
						<td>{{publication.source}}</td>
						<td>{{publication.datePublished}}</td>
						<td>{{publication.meshHeadings| cut:"[" |cut:"]"|cut:"'"| cut:"\""}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>	
		</div>



		<div id="menu2" class="tab-pane fade">
			<table id="" class="display compact">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Location</th>
						<th>Link to Profile</th>
					</tr>
				</thead>
				<tbody>
					{% for profile in simAuthors %}
					<tr>
						<td>{{profile.fName}}</td>
						<td>{{profile.lName}}</td>
						<td>{{profile.city}}, {{ profile.state}}</td>
						<td><form action="/userprofile/" method="get">
						{{ form }}
						<input type="hidden" name="investigator_tag" value="{{profile.investigator_tag}}">
						<input type="submit" class="btn btn-primary btn-sm" value="Visit Profile" name="btn"/>
						</form></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id="menu3" class="tab-pane fade">
			<table id="" class="display compact">
				<thead>
					<tr >
						<th></th>
						<th>Cosine Score</th>
						<th>Grant Title</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					{% for grant in simGrants %}
					<tr data-child-value='Summary: {{Grant.grantText}}'>
						<td class="details-control"></td>
						<td>{% for key, value in cosDict.items %}{% if key == Grant.indexKey %}{{value}}{% endif %}{% endfor %}</td>
						<td>{{Grant.title}}</td>

						<td>{{Grant.guidelink|urlize}}</td>
				    </tr>
				    {% endfor %}
			    </tbody>
			</table>
		</div>

		<div id="menu4" class="tab-pane fade">
			<table id="" class="display compact" style="width:100%">
				<thead>
					<tr>
						<th>Title</th>
						<th>Cosine Score</th>
						<!-- <th>Summary</th> -->
						<th>Status</th>
						<th>Conditions</th>
						<!-- <th>Interventions</th> -->
						<th>Locations</th>
						<th>Link</th>
					</tr>
				</thead>
				
				<tbody>
					{% for ct in ClinicalTrials %}
					<tr>
						<td>{{ct.title}}</td>
						<td>{% for key, value in cosDict.items %}{% if key == ct.indexKey %}{{value}}{% endif %}{% endfor %}</td>
						<!-- <td>{{ct.ctText}}</td> -->
						<td>{{ct.status}}</td>
						<td>{{ct.conditions}}</td>
						<!-- <td>{{ct.interventions}}</td> -->
						<td>{{ct.locations}}</td>
						<td>{{ct.guidelink|urlize}}</td>
				    </tr>
				    {% endfor %}
			    </tbody>
			</table>
		</div>



	</div>
</body>
</html>                                                               



